github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" 
github "mikebuss/MTBBarcodeScanner"
github "hemantasapkota/JSQMessagesViewController"
github "hackiftekhar/IQKeyboardManager"
github "Haneke/HanekeSwift" "master"
github "PiXeL16/PasswordTextField" "master"
