github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" 
github "mikebuss/MTBBarcodeScanner"
github "hemantasapkota/JSQMessagesViewController"
github "hackiftekhar/IQKeyboardManager"
github "Alamofire/AlamofireImage"