github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire"
github "mikebuss/MTBBarcodeScanner"
github "hackiftekhar/IQKeyboardManager"
github "PiXeL16/PasswordTextField" "master"
github "Haneke/HanekeSwift" "master"
